<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Twitter Feed</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding> 
  <p>
    <button ion-button color="primary"  >Load Tweets</button>
  </p> 
</ion-content>
